<ion-view hide-back-button="true" style="background: floralwhite;">
    <ion-nav-title>
        <!-- <input ng-model="newNotification" style="max-width:15px;"></input> -->

        <a class="button button-icon item-avatar icon-left ion-android-person" style="float: left;"></a>
        
        <a class="button button-icon icon-right ion-android-notifications-none"
            style="float: right;"
            ng-click="viewMessages()"
        >
            <span class="point" ng-show="checkboxModel.value">.</span>
        </a>
    </ion-nav-title>
    <ion-content>
        <ion-checkbox ng-model = "checkboxModel.value">send new message </ion-checkbox>
    </ion-content>
</ion-view>